@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .radial-gradient {
    background: radial-gradient(circle at 50% 20%, transparent 70%, #e8dfca 90%);
  }

  .radial-gradient-sm {
    background: radial-gradient(circle at 50% 1%, transparent 70%, #e8dfca 90%);
  }

  .normal-gradient {
    background: linear-gradient(to bottom, transparent 70%, #e8dfca)
  }
}

@layer components {
  .heading {
    -webkit-text-stroke: 1px #0C2150;
    text-shadow: 2px 2px #0C2150;
  }

  .hover-link {
    @apply hover:text-primaryBtn transition-all
  }
}

@font-face {
  font-family: 'Impact';
  src: url('./assets/fonts/impact.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #0C2150;
  background-color: #e8dfca;
}